.featured {
  padding: 80px 60px 129px 64px;
  .featured-title {
    padding-bottom: 60px;
    .featured-text {
      h3 {
        font-size: 48px;
        line-height: 72px;
        font-weight: 700;
        color: #ee1b24;
      }
      p {
        font-size: 32px;
        line-height: 48px;
        font-weight: 400;
        color: #232323;
        margin: 0;
      }
    }
    .featured-btn {
      text-align: right;
      align-self: flex-end;
      .btn-view {
        width: 179px !important;
        height: 40px;
        background: #ee1b24;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        padding: 10px 47px;
        color: #ffffff;
        border: none;
      }
    }
  }
  .featured-list {
    .card {
      border: none;
      width: 415px;
      height: 361px;
      border-radius: 0px 39.7214px;
      padding: 8px 46px 15px 39px;
      .card-img-top {
        width: 350px;
        height: 203px;
      }
      .card-content {
        width: 350px;
        .card-title {
          padding: 56px 0 2.4px 0;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          color: #232323;
          margin-bottom: 0;
          p {
            margin: 0;
            font-weight: 700;
            font-size: 31.7771px;
            line-height: 48px;
          }
          span {
            font-weight: 400;
            font-size: 19.0663px;
            line-height: 29px;
          }
        }
        .card-text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #232323;
          margin-bottom: 0;
          p,
          span {
            margin: 0;
            font-weight: 400;
            font-size: 19.0663px;
            line-height: 29px;
            opacity: 0.8;
          }
          span {
            font-weight: 700;
            opacity: 1;
            color: #ee1b24;
          }
        }
      }
    }
    .poster {
      width: 415px;
      height: 361px;
      padding: 8px 46px 15px 80px;
      img {
        width: 281px;
        margin: 0;
      }
    }
  }
  .featured-responsive {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .featured {
    padding: 60px 20px 0;
    .featured-title {
      text-align: center;
      padding-bottom: 7px;
      .featured-text {
        h3 {
          font-size: 32px;
          line-height: 48px;
          color: #ee1b24;
        }
        p {
          font-size: 20px;
          line-height: 30px;
          color: #232323;
          margin: 0;
        }
      }
      .featured-btn {
        display: none;
      }
    }
    .featured-list {
      .card {
        border: none;
        width: 415px;
        height: 300px;
        border-radius: 0px 39.7214px;
        padding: 8px 30px;
        .card-img-top {
          width: 300px;
          height: 203px;
        }
        .card-content {
          width: 300px;
          .card-title {
            padding: 56px 0 2.4px 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            color: #232323;
            margin-bottom: 0;
            p {
              margin: 0;
              font-weight: 700;
              font-size: 31.7771px;
              line-height: 48px;
            }
            span {
              font-weight: 400;
              font-size: 19.0663px;
              line-height: 29px;
            }
          }
          .card-text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #232323;
            margin-bottom: 0;
            p,
            span {
              margin: 0;
              font-weight: 400;
              font-size: 19.0663px;
              line-height: 29px;
              opacity: 0.8;
            }
            span {
              font-weight: 700;
              opacity: 1;
              color: #ee1b24;
            }
          }
        }
      }
      .poster {
        width: 415px;
        height: 361px;
        padding: 8px;
        img {
          width: 281px;
          margin: 0;
        }
      }
    }
    .featured-responsive {
      display: block;
      text-align: right;
      align-self: flex-end;
      margin-top: 50px;
      .btn-view {
        width: 179px !important;
        height: 40px;
        background: #ee1b24;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        padding: 10px 47px;
        color: #ffffff;
        border: none;
      }
    }
  }
}
@media (max-width: 374.98px) {
  .featured {
    display: none;
  }
}
