.carousel {
  height: 529px;
  background-image: url("../../Assets/images/banner/banner.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  .card {
    width: 50%;
    background-color: transparent;
    padding: 97px 0 0 108px;
    border: none;
    .card-title {
      font-size: 60px;
      line-height: 76px;
      font-weight: 700;
      color: #ffffff;
    }
    .card-text {
      color: #e3e3e3;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      margin-bottom: 32px;
    }
    button {
      width: 196px;
      height: 52px;
      background: #ee1b24;
      border-radius: 8px;
      color: #ffffff;
      padding: 11px 48px;
    }
  }
}
@media (max-width: 1199.98px) {
  .carousel {
    .card {
      padding: 80px 0 0 80px;
      .card-title {
        font-size: 50px;
        line-height: 60px;
      }
      .card-text {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}
@media (max-width: 991.98px) {
  .carousel {
    .card {
      padding: 50px 0 0 80px;
      .card-title {
        font-size: 35px;
        line-height: 45px;
      }
      .card-text {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width: 767.98px) {
  .carousel {
    .card {
      padding: 50px 0 0 80px;
      .card-title {
        font-size: 25px;
        line-height: 30px;
      }
      .card-text {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .carousel {
    margin: 32px 20px 0 20px;
    height: 200px;
    background-image: url("../../Assets/images/banner/banner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 10px;
    .card {
      width: 50%;
      background-color: transparent;
      padding: 20px 0 0 15px;
      border: none;
      .card-title {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        color: #ffffff;
        margin-top: 25px;
      }
      .card-text {
        color: #e3e3e3;
        font-size: 8px;
        font-weight: 400;
        line-height: 14px;
        margin-bottom: 5px;
      }
      button {
        width: 90px;
        height: 25px;
        background: #ee1b24;
        border-radius: 4px;
        color: #ffffff;
        font-size: 8px;
        font-weight: 400;
        padding: 0;
      }
    }
  }
}
