.carousel {
  height: 529px;
  background-image: url("../../Assets/images/banner/banner.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  .card {
    width: 50%;
    background-color: transparent;
    padding: 97px 0 0 108px;
    .card-title {
      font-size: 60px;
      line-height: 76px;
      font-weight: 700;
      color: #FFFFFF;
    }
    .card-text {
      color: #E3E3E3;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      margin-bottom: 32px;
    }
    button {
      width: 196px;
      height: 52px;
      background: #EE1B24;
      border-radius: 8px;
      color: #FFFFFF;
      padding: 11px 48px;
    }
  }
}
