.brand-detail {
  margin: 29px 0 0 42px !important;
  .brand-detail-title {
    p {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      color: #2F465F;
    }
    i {
      font-size: 14px;
      color: #232323;
      padding: 0 16.5px 0 8px;
    }
  }
  .row {
    width: 50%;
    .form-title {
      font-size: 14px;
      font-weight: 600;
      color: #232323;
      margin-bottom: 0;
      line-height: 24px;
      margin: 24px 0 16px 0;
      padding: 12px 0;
      box-shadow: inset 0px -1px 0px #f1f1f1;
    }

    .form-image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 1px dashed #e3e3e3;
      position: relative;
      img {
        width: 120px;
        height: 120px;
      }
      
      .ant-form-item {
        position: absolute;
        top: 0;
      }
      .image {
        position: absolute;
        top: -136px;
        left: -60px;
      }
      .overlay {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        background-color: #232323;
        transition: all 0.5s;
        cursor: pointer;
        z-index: 999;
        p {
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          color: #FFFFFF;
          align-self: center;
          margin: 0;
        }
        &:hover {
          opacity: 0.8;
          .ant-form input[type="file"] {
            display: block;
            width: 120px !important;
            height: 120px !important;
            opacity: 0;
            z-index: 99;
            cursor: pointer;
          }
        }
      }
    }
    .ant-form-item-label > label {
      color: #8C8C8C;
      font-size: 14px !important;
      line-height: 22px !important;
      font-weight: 400 !important;
    }
    .view-detail {
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      color: #232323;
    }
    .view-select {
      width: 99px;
      height: 34px;
      padding: 5px 12px;
      border-radius: 48px;
      background-color: #CEF7E2;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #1F7B4D;
    }
    .custom-select {
      border: none;
      border-radius: 48px;
      background-color: #CEF7E2;
      padding: 5px 12px;
    }
    .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
      color: #1F7B4D;
    }
    .ant-select.ant-select-in-form-item {
      width: 131px !important;
    }
  }

  .ant-modal-footer {
    display: none !important;
  }
  .ant-select-selector {
    background-color: #CEF7E2 !important;
    border: none !important;
    border-radius: 20px !important;
    width: 131px !important;
    height: 34px !important;
  }
  .ant-select-arrow {
    position: absolute !important;
    left: 100px !important;
  }
}
